{% extends "base.html" %}

{% load staticfiles %}
{% block banner %}
  <div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcumb-wrap">
            <h2>领导班子</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block content %}

  <div class="single-service-area ptb-30">
    <div class="container">
      <!-- <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>UBL人才培养模式</h2>
              <p>主页人才培养</p>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>领导班子</h2>
              <p>PRESENT LEADER</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

      </div>

    </div>
  </div>

<section class="team-area team-area2 team-area3 ptb-30">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
                        <div class="team-wrap3 mb-30">
                            <div class="team-img">
                                <img src="/media/uploadImages/张雪鹏.jpg" alt="">
                            </div>
                            <div class="team-content">
                                <h3>张雪鹏</h3>
                                <p>院长</p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3  col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">-->
                        <!--<div class="team-wrap3 mb-30">-->
                            <!--<div class="team-img">-->
                                <!--<img src="static/assets/images/team/team2/2.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="team-content">-->
                                <!--<h3>Connor Charles</h3>-->
                                <!--<p>Founder</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3  col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s;">-->
                        <!--<div class="team-wrap3 mb-30">-->
                            <!--<div class="team-img">-->
                                <!--<img src="static/assets/images/team/team2/3.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="team-content">-->
                                <!--<h3>Robert Kyle</h3>-->
                                <!--<p>Sales Head</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s;">-->
                        <!--<div class="team-wrap3 mb-30">-->
                            <!--<div class="team-img">-->
                                <!--<img src="static/assets/images/team/team2/4.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="team-content">-->
                                <!--<h3>Brayden Shar</h3>-->
                                <!--<p>The Boss</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
                        <div class="team-wrap3 mb-30">
                            <div class="team-img">
                                <img src="/media/uploadImages/李颖书记.jpg" alt="">
                            </div>
                            <div class="team-content">
                                <h3>李颖</h3>
                                <p>党总支书记</p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3  col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">-->
                        <!--<div class="team-wrap3 mb-30">-->
                            <!--<div class="team-img">-->
                                <!--<img src="static/assets/images/team/team2/2.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="team-content">-->
                                <!--<h3>Connor Charles</h3>-->
                                <!--<p>Founder</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3  col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s;">-->
                        <!--<div class="team-wrap3 mb-30">-->
                            <!--<div class="team-img">-->
                                <!--<img src="static/assets/images/team/team2/3.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="team-content">-->
                                <!--<h3>Robert Kyle</h3>-->
                                <!--<p>Sales Head</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s;">-->
                        <!--<div class="team-wrap3 mb-30">-->
                            <!--<div class="team-img">-->
                                <!--<img src="static/assets/images/team/team2/4.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="team-content">-->
                                <!--<h3>Brayden Shar</h3>-->
                                <!--<p>The Boss</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
                        <div class="team-wrap3 mb-30">
                            <div class="team-img">
                                <img src="/media/uploadImages/刘桄序照片.jpg" alt="">
                            </div>
                            <div class="team-content">
                                <h3>刘桄序</h3>
                                <p>教学副院长</p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3  col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">-->
                        <!--<div class="team-wrap3 mb-30">-->
                            <!--<div class="team-img">-->
                                <!--<img src="static/assets/images/team/team2/2.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="team-content">-->
                                <!--<h3>Connor Charles</h3>-->
                                <!--<p>Founder</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3  col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s;">-->
                        <!--<div class="team-wrap3 mb-30">-->
                            <!--<div class="team-img">-->
                                <!--<img src="static/assets/images/team/team2/3.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="team-content">-->
                                <!--<h3>Robert Kyle</h3>-->
                                <!--<p>Sales Head</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s;">-->
                        <!--<div class="team-wrap3 mb-30">-->
                            <!--<div class="team-img">-->
                                <!--<img src="static/assets/images/team/team2/4.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="team-content">-->
                                <!--<h3>Brayden Shar</h3>-->
                                <!--<p>The Boss</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s;">
                        <div class="team-wrap3 mb-30">
                            <div class="team-img">
                                <img src="/media/uploadImages/17122211052777210000005.jpg" alt="">
                            </div>
                            <div class="team-content">
                                <h3>徐萍</h3>
                                <p>学生总支副书记/16级辅导员</p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3  col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;">-->
                        <!--<div class="team-wrap3 mb-30">-->
                            <!--<div class="team-img">-->
                                <!--<img src="static/assets/images/team/team2/2.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="team-content">-->
                                <!--<h3>Connor Charles</h3>-->
                                <!--<p>Founder</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3  col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s;">-->
                        <!--<div class="team-wrap3 mb-30">-->
                            <!--<div class="team-img">-->
                                <!--<img src="static/assets/images/team/team2/3.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="team-content">-->
                                <!--<h3>Robert Kyle</h3>-->
                                <!--<p>Sales Head</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s;">-->
                        <!--<div class="team-wrap3 mb-30">-->
                            <!--<div class="team-img">-->
                                <!--<img src="static/assets/images/team/team2/4.jpg" alt="">-->
                            <!--</div>-->
                            <!--<div class="team-content">-->
                                <!--<h3>Brayden Shar</h3>-->
                                <!--<p>The Boss</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>
            </div>
        </section>
{% endblock %}